.navbar {
    text-align: center;
    .app-name {
        display: inline-block;
        font-size: 1.4em;
        margin: 0;
        padding-top: 15px;
    }
}

.farenheit:after {
    content: "º f";
}

.celsius:after {
    content: "º c";
}

.jumbotron {
    .error {
        color: red;
    }
}
